<ion-content [ngClass]="{'scanner-active': isScannerActive}">
    <div class="container">
        <div class="box">
            <div class="top-header">
                <h3>Bienvenido  {{ correoUsuario }}</h3>
                <small>Para escanear QR haz click en el boton "escanear"</small>
            </div>
            <ion-button class="button-animated button-naranja" expand="full" type="submit" (click)="startScan()">Escanear</ion-button>
            <div class="cerrar">
                <ion-button class="button-animated" expand="full" type="submit" color="primary" (click)="cerrarSesion()">Cerrar Sesión</ion-button>
            </div>
            <div class="regis">
                <button class="regis-btn">
                  <a href="/api">API</a>
                </button>
              </div>
        </div>
    </div>
</ion-content>

  
  