.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .box {
    width: 300px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    .box-login {
      text-align: center;

      .top-header {
        h3 {
          font-size: 1.5em;
          font-weight: bold;
          color: black; /* Cambia el color a negro */
        }

        small {
          color: #333;
          font-weight: bold; /* Añade negrita */
        }
      }

      form {
        margin-top: 20px;

        .input-group {
          margin-bottom: 20px;

          .input-field {
            margin-bottom: 15px;

            input {
              width: 100%;
              padding: 10px;
              border: 1px solid #ccc;
              border-radius: 4px;
              outline: none;

              &:focus {
                border-color: #3498db;
              }
            }

            label {
              font-size: 0.9em;
              color: #555;
              font-weight: bold; /* Añade negrita */
            }
          }
        }

        ion-button {
          width: 100%;
          font-weight: bold; /* Añade negrita */
        }
      }

      .forgot {
        margin-top: 10px;

        a {
          color: #3498db;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
